<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>GPU-SD</string>
     <key>CFBundleIdentifier</key>
     <string>ch.eyescale.gpu-sd.docset</string>
     <key>DocSetFeedName</key>
     <string>GPU-SD Documentation</string>
     <key>DocSetPublisherIdentifier</key>
     <string>ch.eyescale.gpu-sd.documentation</string>
     <key>DocSetPublisherName</key>
     <string>Eyescale</string>
</dict>
</plist>
