<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>129.18</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>CanvasColor</key>
	<dict>
		<key>w</key>
		<string>1</string>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasScale</key>
	<real>1.5</real>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2009-08-04 12:25:57 +0200</string>
	<key>Creator</key>
	<string>Stefan Eilemann</string>
	<key>DisplayScale</key>
	<string>1 cm = 1 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>5</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>1155</integer>
			<key>Points</key>
			<array>
				<string>{226.772, 28.3465}</string>
				<string>{226.772, 155.906}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>HeadArrow</key>
					<string>0</string>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{155.905, 226.771}, {28.3465, 70.8661}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>176</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Link</key>
			<dict>
				<key>url</key>
				<string>Power Mac G5</string>
			</dict>
			<key>ManualSizeImage</key>
			<string>YES</string>
			<key>Scale</key>
			<real>0.40000000596046448</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>1</real>
					<key>ShadowVector</key>
					<string>{1.44, 1.44}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{212.598, 226.771}, {28.3465, 70.8662}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>166</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Link</key>
			<dict>
				<key>url</key>
				<string>Power Mac G5</string>
			</dict>
			<key>ManualSizeImage</key>
			<string>YES</string>
			<key>Scale</key>
			<real>0.40000000596046448</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>1</real>
					<key>ShadowVector</key>
					<string>{1.44, 1.44}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>1153</integer>
			<key>Points</key>
			<array>
				<string>{184.252, 255.118}</string>
				<string>{212.598, 255.118}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{141.732, 18.1732}, {226.772, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>HelveticaNeue</string>
				<key>Size</key>
				<real>7</real>
			</dict>
			<key>ID</key>
			<integer>1152</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf460
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;}
\deftab708
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardeftab708\qr\pardirnatural

\f0\fs14 \cf0 \expnd0\expndtw0\kerning0
Image Copyright Realtime Technology AG, 2008}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{212.598, 155.906}, {155.906, 70.866}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>863</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.5, -0.5}</string>
					<string>{0.5, -0.5}</string>
					<string>{-0.40909, -0.499994}</string>
					<string>{-0.40909, -0.499994}</string>
					<string>{-0.40909, -0.499994}</string>
					<string>{-0.5, 0.5}</string>
					<string>{-0.5, 0.5}</string>
					<string>{-0.5, 0.5}</string>
					<string>{-0.318181, 0.499995}</string>
					<string>{-0.318181, 0.499995}</string>
					<string>{-0.318181, 0.499995}</string>
					<string>{0.5, -0.499998}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.5</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.733129</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28.3465, 155.905}, {198.425, 70.8667}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>862</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.5, -0.5}</string>
					<string>{-0.5, -0.499998}</string>
					<string>{0.5, -0.499992}</string>
					<string>{0.5, -0.499992}</string>
					<string>{0.5, -0.499992}</string>
					<string>{0.285714, 0.49999}</string>
					<string>{0.285714, 0.499992}</string>
					<string>{0.285714, 0.49999}</string>
					<string>{0.142857, 0.5}</string>
					<string>{0.142857, 0.5}</string>
					<string>{0.142857, 0.5}</string>
					<string>{-0.5, -0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.5</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.733129</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{269.291, 240.946}, {28.3464, 42.5197}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>175</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>archive</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGCQpYJHZl
						cnNpb25UJHRvcFkkYXJjaGl2ZXJY
						JG9iamVjdHMSAAGGoNEHCFRyb290
						gAFfEA9OU0tleWVkQXJjaGl2ZXKl
						CwwVGR5VJG51bGzUDQ4PEBESExRW
						JGNsYXNzXE5TQ29sb3JTcGFjZV8Q
						Ek5TQ3VzdG9tQ29sb3JTcGFjZVdO
						U1doaXRlgAQQA4ACRDAuNQDSDRYX
						GFROU0lEgAMQAtIaGxwOWCRjbGFz
						c2VzWiRjbGFzc25hbWWiDh1YTlNP
						YmplY3TSGhsfIKIgHVdOU0NvbG9y
						CBEaHykyNzo/QVNZX2hvfJGZm52f
						pKmusLK3wMvO19zfAAAAAAAAAQEA
						AAAAAAAAIQAAAAAAAAAAAAAAAAAA
						AOc=
						</data>
						<key>b</key>
						<string>0.500023</string>
						<key>g</key>
						<string>0.500023</string>
						<key>r</key>
						<string>0.500023</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{269.291, 226.772}, {28.3465, 28.3465}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>174</integer>
			<key>Shape</key>
			<string>VerticalTriangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>archive</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGCQpYJHZl
						cnNpb25UJHRvcFkkYXJjaGl2ZXJY
						JG9iamVjdHMSAAGGoNEHCFRyb290
						gAFfEA9OU0tleWVkQXJjaGl2ZXKl
						CwwVGR5VJG51bGzUDQ4PEBESExRW
						JGNsYXNzXE5TQ29sb3JTcGFjZV8Q
						Ek5TQ3VzdG9tQ29sb3JTcGFjZVdO
						U1doaXRlgAQQA4ACRTAuNzUA0g0W
						FxhUTlNJRIADEALSGhscDlgkY2xh
						c3Nlc1okY2xhc3NuYW1log4dWE5T
						T2JqZWN00hobHyCiIB1XTlNDb2xv
						cggRGh8pMjc6P0FTWV9ob3yRmZud
						n6Wqr7GzuMHMz9jd4AAAAAAAAAEB
						AAAAAAAAACEAAAAAAAAAAAAAAAAA
						AADo
						</data>
						<key>b</key>
						<string>0.750011</string>
						<key>g</key>
						<string>0.750011</string>
						<key>r</key>
						<string>0.750011</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{99.2126, 240.945}, {28.3464, 42.5197}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>167</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>archive</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGCQpYJHZl
						cnNpb25UJHRvcFkkYXJjaGl2ZXJY
						JG9iamVjdHMSAAGGoNEHCFRyb290
						gAFfEA9OU0tleWVkQXJjaGl2ZXKl
						CwwVGR5VJG51bGzUDQ4PEBESExRW
						JGNsYXNzXE5TQ29sb3JTcGFjZV8Q
						Ek5TQ3VzdG9tQ29sb3JTcGFjZVdO
						U1doaXRlgAQQA4ACRDAuNQDSDRYX
						GFROU0lEgAMQAtIaGxwOWCRjbGFz
						c2VzWiRjbGFzc25hbWWiDh1YTlNP
						YmplY3TSGhsfIKIgHVdOU0NvbG9y
						CBEaHykyNzo/QVNZX2hvfJGZm52f
						pKmusLK3wMvO19zfAAAAAAAAAQEA
						AAAAAAAAIQAAAAAAAAAAAAAAAAAA
						AOc=
						</data>
						<key>b</key>
						<string>0.500023</string>
						<key>g</key>
						<string>0.500023</string>
						<key>r</key>
						<string>0.500023</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{99.2125, 226.772}, {28.3465, 28.3465}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>168</integer>
			<key>Shape</key>
			<string>VerticalTriangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>archive</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGCQpYJHZl
						cnNpb25UJHRvcFkkYXJjaGl2ZXJY
						JG9iamVjdHMSAAGGoNEHCFRyb290
						gAFfEA9OU0tleWVkQXJjaGl2ZXKl
						CwwVGR5VJG51bGzUDQ4PEBESExRW
						JGNsYXNzXE5TQ29sb3JTcGFjZV8Q
						Ek5TQ3VzdG9tQ29sb3JTcGFjZVdO
						U1doaXRlgAQQA4ACRTAuNzUA0g0W
						FxhUTlNJRIADEALSGhscDlgkY2xh
						c3Nlc1okY2xhc3NuYW1log4dWE5T
						T2JqZWN00hobHyCiIB1XTlNDb2xv
						cggRGh8pMjc6P0FTWV9ob3yRmZud
						n6Wqr7GzuMHMz9jd4AAAAAAAAAEB
						AAAAAAAAACEAAAAAAAAAAAAAAAAA
						AADo
						</data>
						<key>b</key>
						<string>0.750011</string>
						<key>g</key>
						<string>0.750011</string>
						<key>r</key>
						<string>0.750011</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28.3464, 28.3465}, {340.158, 127.559}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>2</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>ManualSizeImage</key>
			<string>YES</string>
			<key>Offset</key>
			<string>{0, -0.1}</string>
			<key>Scale</key>
			<real>1.2999999523162842</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>2</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>176</integer>
			</dict>
			<key>ID</key>
			<integer>178</integer>
			<key>Points</key>
			<array>
				<string>{127.559, 269.291}</string>
				<string>{141.732, 269.291}</string>
				<string>{141.732, 255.118}</string>
				<string>{155.905, 258.661}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>FilledCenterBall</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>166</integer>
			</dict>
			<key>ID</key>
			<integer>179</integer>
			<key>Points</key>
			<array>
				<string>{269.291, 269.291}</string>
				<string>{255.118, 269.291}</string>
				<string>{255.118, 255.118}</string>
				<string>{240.945, 258.661}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>FilledCenterBall</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{198.425, 155.906}, {170.079, 70.8661}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>225</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.5, -0.5}</string>
					<string>{-0.5, -0.5}</string>
					<string>{0.5, -0.5}</string>
					<string>{0.5, -0.5}</string>
					<string>{0.5, -0.5}</string>
					<string>{0.0833316, 0.5}</string>
					<string>{0.0833316, 0.5}</string>
					<string>{0.0833316, 0.5}</string>
					<string>{-0.0833366, 0.5}</string>
					<string>{-0.0833366, 0.5}</string>
					<string>{-0.0833366, 0.5}</string>
					<string>{-0.5, -0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28.3464, 155.906}, {170.079, 70.8661}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>227</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.5, -0.5}</string>
					<string>{-0.5, -0.5}</string>
					<string>{0.5, -0.5}</string>
					<string>{0.5, -0.5}</string>
					<string>{0.5, -0.5}</string>
					<string>{0.0833316, 0.5}</string>
					<string>{0.0833316, 0.5}</string>
					<string>{0.0833316, 0.5}</string>
					<string>{-0.0833366, 0.5}</string>
					<string>{-0.0833366, 0.5}</string>
					<string>{-0.0833366, 0.5}</string>
					<string>{-0.5, -0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{14.1732, 14.1732}, {368.504, 297.638}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>861</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.995361</string>
						<key>g</key>
						<string>0.961273</string>
						<key>r</key>
						<string>0.913634</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientCenter</key>
					<string>{0, -0.495238}</string>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.747814</string>
						<key>g</key>
						<string>0.608148</string>
						<key>r</key>
						<string>0.378088</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>CornerRadius</key>
					<real>8</real>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>14.17322826385498</real>
		<key>MajorGridSpacing</key>
		<integer>10</integer>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>7</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.pdf</string>
		<string>image1.tiff</string>
	</array>
	<key>IsPalette</key>
	<string>NO</string>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict/>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheet</key>
	<string>Master 1</string>
	<key>MasterSheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>CanvasColor</key>
			<dict>
				<key>w</key>
				<string>1</string>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasScale</key>
			<real>1</real>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 cm = 1 cm</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict>
				<key>GridSpacing</key>
				<real>14.17322826385498</real>
				<key>MajorGridSpacing</key>
				<integer>10</integer>
				<key>ShowsGrid</key>
				<string>YES</string>
				<key>SnapsToGrid</key>
				<string>YES</string>
			</dict>
			<key>HPages</key>
			<integer>1</integer>
			<key>IsPalette</key>
			<string>NO</string>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict/>
			<key>Orientation</key>
			<integer>2</integer>
			<key>OutlineStyle</key>
			<string>Basic</string>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Master 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ModificationDate</key>
	<string>2009-08-10 14:28:38 +0200</string>
	<key>Modifier</key>
	<string>Stefan Eilemann</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>OutlineStyle</key>
	<string>Basic</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>int</string>
			<string>1</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{842, 595}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<true/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>DrawerTab</key>
		<string>Outline</string>
		<key>DrawerWidth</key>
		<real>209</real>
		<key>Frame</key>
		<string>{{503, 148}, {834, 671}}</string>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {546, 382}}</string>
		<key>Zoom</key>
		<real>1</real>
	</dict>
</dict>
</plist>
